# ignore picture or figure related files
*.pdf
*.png
*.jpg
*.eps

# ignore *.txt files
*.txt
# but not the ones in the metadata folder which carry metadata information
!metadata/*.txt

# ignore compiled python files, they will be automatically re-created
*.pyc 

# ignore most root files. The serve as input files
*.root
# but 

# ignore outputs from the limit setting
*.xml
*.table
*.out

# ignore compressed folders that I might have
*.zip

# but we wanna commit all the files related to the data driven reducible backgrounds
!limitSetting/dataDrivenBackgroundsFromH4l/*
# aswell files I use to demonstrate the impact on the ZZd cross section estimates from changing reducible background norms
!limitSetting/reducibleNormImpact/*